---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: "Te Pūnaha Matatini - Research Data Workshop"        # brief name of host site without address (e.g., "Euphoric State University")
address: "The University of Auckland"      # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: "nz"      # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: "en"     # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "-36.852237, 174.768098"       # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: "22nd November, 2018"    # human-readable date (e.g., "Feb 17-18, 2020")
humantime: "10am - 4pm"    # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: 2018-11-22      # use YYYY-MM-DD format like 2015-01-01
enddate: 2018-11-22        # use YYYY-MM-DD format like 2015-01-02
instructor: ["Aleksandra Pawlik"] 
contact: "aleksandra@stenci.la"      # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad:         # optional (insert the URL for your Etherpad if you're using one)
eventbrite:       # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")

---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->


<h2>General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  This <a href="https://www.tepunahamatatini.ac.nz">Te Pūnaha Matatini</a> hands-on workshop will provide you with skills essential for efficient manipulation
  of research data. We will try out tools useful for data analysis, visualisation and reporting the results of 
  your research. We will talk about the importance of reproducibility your research. </p>
<p> The workshop is based on the <a href=http://datacarpentry.org>Data Carpentry</a> workshops.
</p>

<p>
Participants need to bring their laptops to participate actively in the workshop. 
  By the end of the workshop learners should be able to more effectively manage and analyze data 
  and be able to apply the tools and approaches directly to their ongoing research.
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  The course for Te Pūnaha Matatini Summer interns only.
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop with a 
  Mac, Linux, or Windows operating sytem (not a tablet, Chromebook, etc.) that they have administrative privileges
  on. They should have a few specific software packages installed (listed
  <a href="#setup">below</a>). .
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2> Schedule</h2>

<div class="row">
  <div class="col-md-7">


    <table class="table table-striped">
    <tr> <td>10.00 am </td>  <td>Arrival and welcome</td> </tr>
    <tr> <td>10.15 am</td>  <td>Reproducible data analysis - introduction</td> </tr>
    <tr> <td>10.30 am </td>  <td>Working with data using R</td> </tr>
    <tr> <td>12.00 pm </td>  <td>Lunch</td> </tr>
    <tr> <td>12.45 pm </td>  <td>Data visualisation with R</td> </tr>
    <tr> <td>2.30 pm </td>  <td>Afternoon tea</td> </tr>
    <tr> <td>3.00 pm</td>  <td>Research Data Management - Centre for eResearch</td> </tr>
    <tr> <td>4.00 pm</td>  <td>Wrap up</td> </tr>
    </table>
 
  </div>
</div>
<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->

<p>
  <strong>Working document:</strong> <a href="https://docs.google.com/document/d/1TdtGTZ0sMxcx80jGHyTaH_Irf530tBRXTeWYtlx7JW0/edit">
   We will use this online document for chatting, taking notes, and sharing URLs and bits of code. </a>.
  <br/>

</p>


<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
    
     <div class="row">
    <h2>Training materials </h2>
       <ul>
         <li>
    <a href="http://www.datacarpentry.org/R-ecology-lesson">Manipulating data using R
  </a> </li>
<ul>
         <li>
    <a href="https://research-hub.cer.auckland.ac.nz/#/search/content/44">
         UoA Research Hub -Managing Research Data
              </a> </li>
       </ul>
    </div>


<h2 id="setup">Setup</h2>

<p>
  If you are bringing your laptop to the workshop, please make sure you set it up according to the following instructions
  </p>


    
<div id="r"> <!-- Start of 'R' section. -->
  <h3>R</h3>

  <p>
    <a href="http://www.r-project.org">R</a> is a programming language
    that is especially powerful for data exploration, visualization, and
    statistical analysis. To interact with R, we use
    <a href="http://www.rstudio.com/">RStudio</a>.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="r-windows">Windows</h4>
      <a href="https://www.youtube.com/watch?v=q0PjTAylwoU">Video Tutorial</a>
      <p>
        Install R by downloading and running
        <a href="http://cran.r-project.org/bin/windows/base/release.htm">this .exe file</a>
        from <a href="http://cran.r-project.org/index.html">CRAN</a>.
        Also, please install the
        <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
        Note that if you have separate user and admin accounts, you should run the 
        installers as administrator (right-click on .exe file and select "Run as 
        administrator" instead of double-clicking). Otherwise problems may occur later, 
        for example when installing R packages.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="r-macosx">Mac OS X</h4>
      <a href="https://www.youtube.com/watch?v=5-ly3kyxwEg">Video Tutorial</a>
      <p>
        Install R by downloading and running
        <a href="http://cran.r-project.org/bin/macosx/R-latest.pkg">this .pkg file</a>
        from <a href="http://cran.r-project.org/index.html">CRAN</a>.
        Also, please install the
        <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="r-linux">Linux</h4>
      <p>
        You can download the binary files for your distribution
        from <a href="http://cran.r-project.org/index.html">CRAN</a>. Or
        you can use your package manager (e.g. for Debian/Ubuntu
        run <code>sudo apt-get install r-base</code> and for Fedora run
        <code>sudo yum install R</code>).  Also, please install the
        <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'R' section. -->
